<mat-toolbar color="primary" class="navbar">
  <div class="leftspace">
    <button mat-icon-button color="white" [routerLink]="['home']">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button *ngIf="_authService.loggedIn()" [routerLink]="['table']">Table</button>
    <button mat-button>Create</button>
  </div>
  <div>
    <button mat-button *ngIf="!_authService.loggedIn()" [routerLink]="['login']">Login</button>
    <button mat-button *ngIf="!_authService.loggedIn()" [routerLink]="['registration']">Registration</button>
    <button mat-button *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</button>
  </div>
</mat-toolbar>